{{#each model as |events|}}
  <div><img src="{{events.image}}"></div>
  <div><h1>{{events.name}}</h1></div>
  <div>{{events.date}}</div>
  <div><p>{{events.description}}</p></div>
  <div>@{{events.locationName}}</div>
  <div>@{{events.locationGeo.latitude}} {{events.locationGeo.longitude}}</div>
{{/each}}